<div class="demo-page px-3">
  <div style="width: 30%;">
    <mat-form-field [appearance]="'outline'" class="form-field">
      <mat-label>Choose an option</mat-label>
      <mat-select [(value)]="optionSelected" (valueChange)="changeSelect()" >
        @for (item of demoList; track item.view) {
          <mat-option [value]="item.value">
            {{ item.view }}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>


  @switch (optionSelected) {
    @case ('Table') {
      <div>
        <h1 class="mb-1">Table</h1>
        <mat-divider class="pb-3"></mat-divider>
        <div class="mb-2">
          <button mat-flat-button class="me-2" (click)="setTableData()">Get Data</button>
          <button mat-flat-button color="accent" class="me-2" (click)="clearTableData()">Clear Data</button>
          <button mat-flat-button color="warn" class="me-2" (click)="switchLoading()">Switch Loading</button>
          <button mat-flat-button disabled (click)="pushdata()">push data</button>
        </div>
        <div>
          <button mat-stroked-button>Basic</button>
          <button mat-stroked-button color="primary">Primary</button>
          <button mat-stroked-button color="accent">Accent</button>
          <button mat-stroked-button color="warn">Warn</button>
          <button mat-stroked-button disabled>Disabled</button>
        </div>
        <div class="example-button-row">
          <button mat-raised-button>Basic</button>
          <button mat-raised-button color="primary">Primary</button>
          <button mat-raised-button color="accent">Accent</button>
          <button mat-raised-button color="warn">Warn</button>
          <button mat-raised-button disabled>Disabled</button>
          <a mat-raised-button href="https://www.google.com/" target="_blank">Link</a>
        </div>
        <app-data-table [id]="tableID" [data]="data" [columnDefs]="coldefs" [isLoading]="loading"></app-data-table>
      </div>
    }
    @case ('Dialog') {
      <div>
        <h1 class="mb-1">Dialog</h1>
        <mat-divider class="pb-3"></mat-divider>
        <div class="mb-2">
          <button mat-flat-button color="primary" class="me-2" (click)="openComponentDialog()">Open dialog with component</button>
          <button mat-flat-button color="primary" class="me-2" (click)="openTemplateDialog()">Open dialog with template</button>
          <button mat-flat-button color="primary" class="me-2" (click)="openStringDialog()">Open dialog with string</button>
        </div>
      </div>
    }
    @case ('Event') {
      <div>
        <h1 class="mb-1">Event</h1>
        <mat-divider class="pb-3"></mat-divider>
      </div>
    }
    @case ('i18n') {
      <div>
        <h1 class="mb-1">i18n</h1>
        <mat-divider class="pb-3"></mat-divider>
        <a href="https://github.com/ngx-translate/core" target="_blank">Doc</a>
        <div>{{'i18n_Fields' | translate}}</div>
      </div>
    }
    @case ('Icon') {
      <div>
        <h1 class="mb-1">FontIcon</h1>
        <mat-divider class="pb-3"></mat-divider>
        <div style="font-size: 40px;word-wrap: break-word;" class="mb-2">
          <h1 class="mb-1">Acc Icon</h1>
          <i class="iconacc-access"></i>
          <i class="iconacc-accounts"></i>
          <i class="iconacc-add-on-cards"></i>
        </div>
        <br>
        <div style="font-size: 40px;word-wrap: break-word;">
          <h1 class="mb-1">Fontawesome</h1>
          <i class="fa-solid fa-user"></i>
        </div>
      </div>
    }
    @case ('Chart') {
      <div>
        <canvas id="canvas"></canvas>
      </div>
    }
    @case ('Input') {
      <div>
        <h1 class="mb-1">Input</h1>
        <mat-divider class="pb-3"></mat-divider>
        <div style="width: 50%;">
          <div [formGroup]="testForm">
            <app-input [form]="testForm" [controlName]="'input1'" [label]="'Input'"></app-input>
            <app-chips-input [id]="'test-chips-input'" [placeholder]="'placeholder...'" [chips]="['111','2222', '111']" [label]="'Chips Input'"></app-chips-input>
            <mat-form-field [appearance]="'outline'" style="width: 100%;">
              <mat-label>Textarea</mat-label>
              <textarea matInput></textarea>
            </mat-form-field>
          </div>
        </div>
      </div>
    }
    @case ('SearchBar') {
      <h1 class="mb-1">Search Bar</h1>
      <mat-divider class="pb-3"></mat-divider>
      <div style="width: 50%;">
        <div>
          <span>Date range&nbsp;:&nbsp;</span>
          @if (startDate && endDate) { <span>{{ startDate }}&nbsp;-&nbsp;{{ endDate }}</span> }
        </div>
        <app-search-bar [id]="'test-searchbar'" [dateRangerPicker]="true"></app-search-bar>
        <app-search-bar [id]="'test-searchbar2'" [dateRangerPicker]="false"></app-search-bar>
      </div>
    }
    @case ('Gridster') {
      <div>
        <!-- <h1 class="mb-1">Gridster</h1>
        <mat-divider class="pb-3"></mat-divider>
        <gridster [options]="options" [draggable]="draggable" [resizable]="resizable" (itemChange)="itemChange($event)" (itemResize)="itemResize($event)">
          <gridster-item [item]="item" *ngFor="let item of items">
            <div class="gridster-item-content">{{ item.content }}</div>
          </gridster-item>
        </gridster> -->
      </div>

    }
  }
</div>

<ng-template #testTemp let-data>
  <p>{{data}}</p>
</ng-template>
