@mixin dialog-theme($theme-colors) {
  .dialog-container {
    background: map-get($theme-colors, dialog-bg-color);

    .dialog-close {
      line-height: 48px;
      float: right;
      cursor: pointer;
    }

    .mat-mdc-dialog-title {
      padding: 0 18px 0 36px;
      // border-bottom: 1px solid rgba(0,0,0,.12);;

      &::before {
        height: 22px;
      }

      .dialog-subtitle {
        font-size: 14px;
        height: 16px;
        line-height: 16px;
        color: map-get($theme-colors, dialog-subtitle);
      }

      // &.primary { border-bottom: 2px solid map-get($theme-colors, primary); }
      // &.secondary { border-bottom: 2px solid map-get($theme-colors, secondary); }
      // &.success { border-bottom: 2px solid map-get($theme-colors, success); }
      // &.info { border-bottom: 2px solid map-get($theme-colors, info); }
      // &.warning { border-bottom: 2px solid map-get($theme-colors, warning); }
      // &.danger { border-bottom: 2px solid map-get($theme-colors, danger); }

    }

    .mat-mdc-dialog-content {
      padding: 8px 36px 24px 36px !important;

      // &.dialog-small {
      //   min-width: 300px;
      // }

      // &.dialog-normal {
      //   min-width: 600px;
      // }

      // &.dialog-large {
      //   min-width: 900px;
      // }
    }

    // .mdc-dialog__title.primary {
    //   border-bottom: 1px solid #c2d5e4;
    // }

    .mat-mdc-dialog-actions {
      padding: 24px 36px 48px 36px;
      // border-top: 1px solid rgba(0,0,0,.12);

      .mat-mdc-button-base+.mat-mdc-button-base {
        margin-left: 16px;
      }
    }

    // .dialog-close {

    // }

  }
}
