.fileldCol{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 36px;
}

.matInput{
  left: 10%;
  font-size: 10px;
}

.dropzone{
  width: 400px;
  height: 200px;
  padding: 20px;
  text-align: center;
  border: dashed 1px #979797;
  position: relative;
  margin: 0 auto;

  input{
    opacity: 0;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
  }

  label{
    color: white;
    width: 183px;
    height: 44px;
    border-radius: 21.5px;
    background-color: #db202f;
    padding: 8px 16px;
  }

  button{
    z-index: 99;
  }
}

.filesList{
  width: 400px;
  height: 40px;
  padding: 20px;
  text-align: center;
  border: dashed 1px #979797;
  position: relative;
  margin: 0 auto;
}

.uploadText{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  align-self: center;
  font-size: 13px;
  flex: 0 0 32%;
  padding: 6px;

  &.addInitFile{
    flex: 0 0 49%;
    padding: 0;
  }

  &.editInitFile{
    flex: 0 0 49%;
    padding: 0;
  }

  &.toolPackage{
    flex: 0 0 34%;
    padding: 6px;
  }

  &.script{
    flex: 0 0 34%;
    padding: 6px;
    background: rgb(136,136,136);
    border-radius: 10px;
  }

  &.removeFile{
    flex:0 0 6%;
    text-align: center;
  }
}
