
<mat-form-field [formGroup]="form()" [appearance]="'outline'" class="form-field">
  @if (label()) {
    <mat-label>{{ label() }}</mat-label>
  }
  <input matInput [type]="type()" [formControlName]="controlName()">
  @if (hasClear() && form().value[controlName()]) {
    <button matSuffix mat-icon-button (click)="clearValue()">
      <i class="fa-solid fa-xmark fa-xs"></i>
    </button>
  }

  @if (suffixIcon()) {
    <i matSuffix [ngClass]="suffixIcon()"></i>
  }

  @if (errorMsg()) {
    <mat-error align="end">{{ errorMsg() }}</mat-error>
  }

  @if (hint()) {
    <mat-hint align="end">{{hint()}} / 256</mat-hint>
  }


</mat-form-field>
